*{
	font-family: 'IBM Plex Mono', monospace;
}
body{
	margin: 0;
	overflow-x: hidden;
}
div.Button,div.Button-dark{
	width: fit-content;
	border-radius: 50px;
	padding: .25em .5em;
	text-align: center;
	user-select: none;
	cursor: pointer;
	display: inline;
	transition: 0.3s ease;
}
div.Button{
	text-shadow: 3px 3px 2px #ff70007a;
	color: #fff;
	background: #3da9f4;
}
div.Button-dark{
	background: #082080;
	color: darkorange;
	text-shadow: 4px 3px 3px #0049ff, 2px -1px 3px #00ff02;
}
