header.navigation, header.navigation-dark{
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
	padding-left: 3em;
}
header.navigation{
	background: #fff;
}
header.navigation-dark{
	background: #000;
}
h1.activeNav-dark,h1.activeNav,h1.passiveNav-dark,h1.passiveNav{
	text-align: center;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 325%;
	padding: 1%;
	margin: 0 1vw;
	max-width: 40vw;
	min-width: 20vw;
	display: inline;
	opacity: 0.909;
	color: darkorange;
	transition: 150ms linear;
	cursor: pointer;
	user-select: none;
}
h1.activeNav-dark,h1.activeNav{
	letter-spacing: 1pt;
	opacity: 1;
}
h1.activeNav{
	text-shadow: 2px 6px 0 #3da9f4c4;
}
h1.activeNav-dark{
	text-shadow: 4px 3px 3px #0049ff, 2px -1px 3px #00ff02;
}
section.theme,section.theme-dark{
	padding: 2em;
}
section.theme{
	background: #fff;
	color: #536367;
}
section.theme-dark{
	background: #000;
	color: #9ea8ab;
}
